CF_API_TOKEN={{ vault_caddy_cf_api_token }}
FRIGATE_AUTH_SECRET={{ vault_caddy_frigate_auth_secret }}
DOMAIN={{ vault_domain }}

TAILSCALE_NETWORK={{ network_tailscale }}
HOME_NETWORK={{ network_home }}
HOMELAB_NETWORK={{ network_homelab }}
IOT_NETWORK={{ network_iot }}
DASHBOARD_IP={{ dashboard_tablet_ip }}

IP={{ ip }}

PRINTER_IP={{ printer_ip }}

SWITCH_IP={{ switch_ip }}

CAMERA_DOORBELL_HTTP_IP={{ camera_doorbell_http_ip }}
CAMERA_FRONT_HTTP_IP={{ camera_front_http_ip }}
CAMERA_BACK_HTTP_IP={{ camera_back_http_ip }}
CAMERA_ENTRY_HTTP_IP={{ camera_entry_http_ip }}
