[Unit]
Description=Caddy Proxy
Documentation=https://caddyserver.com/docs/

Wants=network-online.target
After=network-online.target

After=caddy.socket
Requires=caddy.socket

RequiresMountsFor={{ stacks_path }}/caddy/data
RequiresMountsFor={{ stacks_path }}/caddy/config
RequiresMountsFor={{ stacks_path }}/caddy/srv

[Container]
# --- Image / Exec ---
Image={{ caddy_local_image }}:{{ version_caddy }}
ContainerName=caddy
StopTimeout=20

Notify=true

# --- Identity / Namespaces ---
UserNS=keep-id

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true
AddCapability=NET_BIND_SERVICE

# --- Resource Limits ---
Memory={{ caddy_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume={{ stacks_path }}/caddy/data:/data:Z
Volume={{ stacks_path }}/caddy/config:/config:Z
Volume={{ stacks_path }}/caddy/srv:/srv:Z

# --- Networking ---
Network=authelia.network

Network=frigate.network
Network=vaultwarden.network
Network=zigbee2mqtt.network
Network=peanut.network
Network=restic.network

Network=prometheus.network
Network=loki.network
Network=grafana.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/caddy/caddy.env

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
