[Unit]
Description=Caddy Proxy
Documentation=https://caddyserver.com/docs/

Wants=network-online.target
After=network-online.target

After=caddy.socket
Requires=caddy.socket

RequiresMountsFor={{ stacks_path }}/caddy/data
RequiresMountsFor={{ stacks_path }}/caddy/config

[Container]
Image=localhost/custom-caddy:{{ caddy_version }}
ContainerName=caddy
Timezone={{ timezone }}
Memory={{ caddy_memory_limit }}

EnvironmentFile={{ stacks_path }}/caddy/caddy.env

Notify=true

Volume={{ stacks_path }}/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume={{ stacks_path }}/caddy/data:/data:Z
Volume={{ stacks_path }}/caddy/config:/config:Z

UserNS=keep-id

# TODO: maybe it could be better if other containers would join proxy network with some "isolated" option on network config 
Network=authelia.network

Network=frigate.network
Network=zigbee2mqtt.network

Network=prometheus.network
Network=loki.network
Network=grafana.network

[Service]
Restart=always

[Install]
WantedBy=default.target
