FETCH_INTERVAL={{ eink_display_fetch_interval }}

MAX_PARTIAL_REFRESHES=16

BLINK_PROBABILITY=0.4
BLINK_SECONDS=1

NIGHT_START_HOUR=23
NIGHT_END_HOUR=6

METRICS_ADDRESS=127.0.0.1
METRICS_PORT=9110

PREVIEW_ADDRESS={{ ansible_host }}
PREVIEW_PORT={{ eink_display_preview_port }}

PROMETHEUS_URL=https://{{ service_endpoints['prometheus']['subdomain'] }}.{{ vault_domain }}

INSTANCE={{ nova_hostname }}

SIMULATE=false

INVERT_COLORS=false

TIMEZONE={{ timezone }}

LOG_LEVEL=INFO
