FETCH_INTERVAL=30
FULL_REFRESH_CYCLE=10

PROMETHEUS_URL=https://{{ services['prometheus']['subdomain'] }}.{{ vault_domain }}

PROMETHEUS_API_USERNAME={{ vault_eink_display_username }}
PROMETHEUS_API_PASSWORD={{ vault_eink_display_password }}

# TODO: hostname var
INSTANCE=nova-2

SIMULATE=false

INVERT_COLORS=false

TIMEZONE={{ timezone }}

LOG_LEVEL=INFO
