[Unit]
Description=Nova eink display
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=exec
SyslogIdentifier=eink-display

WorkingDirectory={{ eink_display_path }}

Environment="PATH={{ eink_display_path }}/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile={{ eink_display_path }}/eink-display.env
EnvironmentFile={{ eink_display_path }}/eink-display.secrets.env

ExecStartPre=-/usr/bin/nm-online -q -t 60
ExecStart={{ eink_display_path }}/.venv/bin/nova-eink-display

StateDirectory=eink-display

Restart=always
RestartSec=10

TimeoutStopSec=30

MemoryHigh=512M
MemoryMax=1G
Nice=5

[Install]
WantedBy=default.target
