maxretry = 3

[{{ nut_ups_name }}]
    driver = {{ nut_ups_driver }}
    desc = "{{ nut_ups_description }}"
    port = {{ nut_ups_port }}

    vendorid = {{ nut_ups_vendorid }}
    productid = {{ nut_ups_productid }}

    waitbeforereconnect = {{ nut_ups_waitbeforereconnect }}

    lowbatt = {{ nut_ups_lowbatt }}
    offdelay = {{ nut_ups_offdelay }}
    ondelay = {{ nut_ups_ondelay }}
