[{{ nut_ups_admin_user }}]
    password = {{ vault_nut_ups_admin_password }}
    actions = set
    actions = fsd
    instcmds = all
    upsmon primary

[{{ nut_ups_exporter_user }}]
    password = {{ vault_nut_ups_exporter_password }}

[{{ nut_ups_ha_user }}]
    password = {{ vault_nut_ups_ha_password }}
    instcmds = beeper.mute
    instcmds = beeper.disable
    instcmds = beeper.enable
