[{{ nut_ups_admin_user }}]
    password = {{ vault_nut_ups_admin_password }}
    actions = set
    actions = fsd
    instcmds = all
    upsmon primary

[{{ nut_ups_peanut_user }}]
    password = {{ vault_nut_ups_peanut_password }}
    upsmon secondary

[{{ nut_ups_ha_user }}]
    password = {{ vault_nut_ups_ha_password }}
    upsmon secondary
