*.log
*.tmp
tmp/

# Ansible
ansible/group_vars/**/vault.yml
ansible/inventory.ini
ansible/.vault_pass

.collections
.ansible

.DS_Store

ansible/roles/eink_display/files/images/
ansible/roles/eink_display/files/fonts/
