---
- Repositories:
      - GitHub Nova:
            - icon: /images/icons/github.svg
              href: https://github.com/Zireaell1/nova-homelab
      - Github Nova eink display:
            - icon: /images/icons/github.svg
              href: https://github.com/Zireaell1/nova-eink-display

- Homelab Hardware:
      - Switch:
            - abbr: SW
              href: https://{{ service_endpoints['switch']['subdomain'] }}.{{ vault_domain }}/
      - Front Camera:
            - abbr: CM
              href: https://{{ service_endpoints['camera_front']['subdomain'] }}.{{ vault_domain }}/
      - Entry Camera:
            - abbr: CM
              href: https://{{ service_endpoints['camera_entry']['subdomain'] }}.{{ vault_domain }}/
      - Back Camera:
            - abbr: CM
              href: https://{{ service_endpoints['camera_back']['subdomain'] }}.{{ vault_domain }}/
      - Doorbell Camera:
            - abbr: CM
              href: https://{{ service_endpoints['camera_doorbell']['subdomain'] }}.{{ vault_domain }}/
