[Unit]
Description=Homepage
Documentation=https://gethomepage.dev/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/homepage/config

[Container]
# --- Image / Exec ---
Image={{ homepage_image }}:{{ homepage_version }}
ContainerName=homepage
StopTimeout=120

# --- Identity / Namespaces ---
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ homepage_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/homepage/config:/app/config:Z
Volume={{ stacks_path }}/homepage/assets:/app/public/images:Z,ro

Volume={{ frigate_mount }}/homepage_monitoring:{{ frigate_mount }}:Z,ro
Volume={{ backup_mount }}/homepage_monitoring:{{ backup_mount }}:Z,ro

# --- Networking ---
Network=homepage.network

# --- Configuration / Env ---
Timezone={{ timezone }}

Environment=HOMEPAGE_ALLOWED_HOSTS={{ vault_domain }}
Environment=LOG_TARGETS=stdout

HealthCmd=["wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000/api/healthcheck"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900
TimeoutStopSec=130

[Install]
WantedBy=default.target
