---
- Home:
      - Frigate:
            icon: /images/icons/frigate.svg
            href: https://{{ services['frigate']['subdomain'] }}.{{ vault_domain }}/
            description: CCTV

      - HomeAssistant:
            icon: /images/icons/homeassistant.svg
            href: https://{{ services['homeassistant']['subdomain'] }}.{{ vault_domain }}/

      - Zigbee2MQTT:
            icon: /images/icons/zigbee2mqtt.svg
            href: https://{{ services['zigbee2mqtt']['subdomain'] }}.{{ vault_domain }}/

- Monitoring:
      - Grafana:
            icon: /images/icons/grafana.svg
            href: https://{{ services['grafana']['subdomain'] }}.{{ vault_domain }}/

      - Prometheus:
            icon: /images/icons/prometheus.svg
            href: https://{{ services['prometheus']['subdomain'] }}.{{ vault_domain }}/

      - PeaNUT:
            icon: /images/icons/peanut.svg
            href: https://{{ services['peanut']['subdomain'] }}.{{ vault_domain }}/

      - go2rtc:
            href: https://{{ services['go2rtc']['subdomain'] }}.{{ vault_domain }}/

      - Alloy:
            icon: /images/icons/alloy.svg
            href: https://{{ services['alloy']['subdomain'] }}.{{ vault_domain }}/

- Network:
      - Pi-Hole:
            icon: /images/icons/pihole.svg
            href: https://{{ services['pihole']['subdomain'] }}.{{ vault_domain }}/

- Vault:
      - Vaultwarden:
            icon: /images/icons/vaultwarden.svg
            href: https://{{ services['vaultwarden']['subdomain'] }}.{{ vault_domain }}/
