---
- Home:
      - Frigate:
            icon: /images/icons/frigate.svg
            href: https://{{ service_endpoints['frigate']['subdomain'] }}.{{ vault_domain }}/
            description: NVR & CCTV

      - HomeAssistant:
            icon: /images/icons/homeassistant.svg
            href: https://{{ service_endpoints['homeassistant']['subdomain'] }}.{{ vault_domain }}/
            description: Smart Home Automation

      - Zigbee2MQTT:
            icon: /images/icons/zigbee2mqtt.svg
            href: https://{{ service_endpoints['zigbee2mqtt']['subdomain'] }}.{{ vault_domain }}/
            description: Zigbee Device Bridge

      - Mainsail:
            icon: /images/icons/mainsail.svg
            href: https://{{ service_endpoints['mainsail']['subdomain'] }}.{{ vault_domain }}/
            description: 3D Printer Control

      - Authelia:
            icon: /images/icons/authelia.svg
            href: https://{{ service_endpoints['authelia']['subdomain'] }}.{{ vault_domain }}/
            description: Single Sign-On (SSO)

      - Immich:
            icon: /images/icons/immich.svg
            href: https://{{ service_endpoints['immich']['subdomain'] }}.{{ vault_domain }}/
            description:

- Monitoring:
      - Grafana:
            icon: /images/icons/grafana.svg
            href: https://{{ service_endpoints['grafana']['subdomain'] }}.{{ vault_domain }}/
            description: Data Visualization Dashboards

      - Prometheus:
            icon: /images/icons/prometheus.svg
            href: https://{{ service_endpoints['prometheus']['subdomain'] }}.{{ vault_domain }}/
            description: Time-Series Metrics

      - Alloy:
            icon: /images/icons/alloy.svg
            href: https://{{ service_endpoints['alloy']['subdomain'] }}.{{ vault_domain }}/
            description: Telemetry Data Collector

      - PeaNUT:
            icon: /images/icons/peanut.svg
            href: https://{{ service_endpoints['peanut']['subdomain'] }}.{{ vault_domain }}/
            description: UPS Power Monitoring

      - go2rtc:
            icon: /images/icons/go2rtc.svg
            href: https://{{ service_endpoints['go2rtc']['subdomain'] }}.{{ vault_domain }}/
            description: Camera Stream Router

- Network:
      - Pi-Hole:
            icon: /images/icons/pihole.svg
            href: https://{{ service_endpoints['pihole']['subdomain'] }}.{{ vault_domain }}/
            description: Network Ad Blocker

- Vault:
      - Vaultwarden:
            icon: /images/icons/vaultwarden.svg
            href: https://{{ service_endpoints['vaultwarden']['subdomain'] }}.{{ vault_domain }}/
            description: Secure Password Vault
