DOMAIN=https://{{ services['vaultwarden']['subdomain'] }}.{{ vault_domain }}

WEB_VAULT_ENABLED=true

ADMIN_TOKEN={{ vault_vaultwarden_admin_token }}

SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false

IP_HEADER=X-Forwarded-For
HTTP_REQUEST_BLOCK_NON_GLOBAL_IPS=true
SHOW_PASSWORD_HINT=false
EMERGENCY_ACCESS_ALLOWED=false

EXTENDED_LOGGING=true
LOG_LEVEL=info
