[Unit]
Description=Vaultwarden
Documentation=https://github.com/dani-garcia/vaultwarden/wiki

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/vaultwarden/data

[Container]
# --- Image / Exec ---
Image={{ vaultwarden_image }}:{{ version_vaultwarden }}
ContainerName=vaultwarden
StopTimeout=20

Exec=/start.sh

# --- Identity / Namespaces ---
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ vaultwarden_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/vaultwarden/data:/data:Z

# --- Networking ---
Network=vaultwarden.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/vaultwarden/vaultwarden.env

HealthCmd=/healthcheck.sh
HealthInterval=120s
HealthRetries=10
HealthTimeout=45s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
