[Unit]
Description=Immich
Documentation=https://docs.immich.app/

Wants=network-online.target
After=network-online.target

Wants=immich-postgres.service immich-redis.service
After=immich-postgres.service immich-redis.service

RequiresMountsFor={{ immich_storage_path }}/data

[Container]
# --- Image / Exec ---
Image={{ immich_image }}:{{ immich_version }}
ContainerName=immich
StopTimeout=20

# --- Identity / Namespaces ---
GroupAdd={{ getent_group.render[1] }}
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ immich_memory_limit }}

# --- Devices ---
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128

# --- Storage ---
Volume={{ immich_storage_path }}/data:/data:Z
Volume={{ stacks_path }}/immich/immich-config.json:/usr/src/app/immich-config.json:Z

# --- Networking ---
Network=immich.network
Network=immich-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/immich/immich.env

HealthCmd=["immich-healthcheck"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
