# https://docs.immich.app/install/environment-variables

TZ={{ timezone }}

IMMICH_CONFIG_FILE=/usr/src/app/immich-config.json
IMMICH_TRUSTED_PROXIES=10.89.0.0/24
IMMICH_TELEMETRY_INCLUDE=all

DB_PASSWORD={{ vault_immich_storage_password }}
