[Unit]
Description=Immich Redis

[Container]
# --- Image / Exec ---
Image={{ immich_redis_image }}:{{ immich_redis_version }}
ContainerName=immich-redis
StopTimeout=20

# --- Resource Limits ---
Memory={{ immich_redis_memory_limit }}

# --- Networking ---
Network=immich-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

HealthCmd=["redis-cli", "ping"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
