[Unit]
Description=Immich PostgreSQL

RequiresMountsFor={{ stacks_path }}/immich/postgres

[Container]
Image={{ immich_postgres_image }}:{{ version_immich_postgres }}
ContainerName=immich-postgres
Timezone={{ timezone }}
Memory={{ immich_postgres_memory_limit }}

StopTimeout=20

ShmSize=128m

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD_FILE=/STORAGE_PASSWORD
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS: '--data-checksums'

Volume={{ stacks_path }}/immich/postgres:/var/lib/postgresql/data:Z
Volume={{ stacks_path }}/immich/secrets/STORAGE_PASSWORD:/STORAGE_PASSWORD:ro,z

Network=immich-backend.network

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
