[Unit]
Description=Prometheus
Documentation=https://prometheus.io/docs/introduction/overview/

Wants=network-online.target
After=network-online.target

RequiresMountsFor=/srv/monitoring/prometheus/data

[Container]
# --- Image / Exec ---
Image={{ prometheus_image }}:{{ version_prometheus }}
ContainerName=prometheus
StopTimeout=20

Exec=--config.file=/etc/prometheus/prometheus.yml \
     --log.level=warn \
     --storage.tsdb.path=/prometheus \
     --storage.tsdb.retention.time=30d \
     --web.enable-remote-write-receiver

# --- Identity / Namespaces ---
UserNS=keep-id:uid=65532,gid=65532

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ prometheus_memory_limit }}

# --- Storage ---
Volume=/srv/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro,Z
Volume=/srv/monitoring/prometheus/data:/prometheus:Z

# --- Networking ---
PublishPort=127.0.0.1:9080:9090

Network=prometheus.network
Network=monitoring-backend.network

Network=home.network
Network=peanut.network
Network=authelia.network
Network=restic.network

# --- Configuration / Env ---
Timezone={{ timezone }}

# HealthCmd=["wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9090/-/healthy"]
# HealthInterval=60s
# HealthTimeout=10s
# HealthRetries=3
# HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
