[Unit]
Description=Prometheus

Wants=network-online.target
After=network-online.target

[Container]
Image={{ prometheus_image }}
ContainerName=prometheus
Timezone={{ timezone }}
Memory={{ prometheus_memory_limit }}

UserNS=keep-id:uid=65532,gid=65532

Volume=/srv/monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro,Z
Volume=/srv/monitoring/prometheus/data:/prometheus:Z

Network=prometheus.network
Network=monitoring-backend.network

Network=home.network

[Service]
Restart=always

[Install]
WantedBy=default.target
