global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'frigate'
    metrics_path: '/api/metrics'
    static_configs:
      - targets: ['frigate:5000']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']

  - job_name: 'caddy'
    static_configs:
      - targets: ['caddy:9091']

  - job_name: 'peanut'
    metrics_path: '/api/v1/metrics'
    static_configs:
      - targets: ['peanut:8080']

  - job_name: 'authelia'
    static_configs:
      - targets: ['authelia:9959']

  - job_name: 'restic'
    static_configs:
      - targets: ['restic:8000']

  - job_name: 'homeassistant'
    metrics_path: /api/prometheus
    static_configs:
      - targets: ['homeassistant:8123']

#  - job_name: immich_api
#    static_configs:
#      - targets: ['immich:8081']
#
#  - job_name: immich_microservices
#    static_configs:
#      - targets: ['immich:8082']
