{
  "apiVersion": "dashboard.grafana.app/v2",
  "kind": "Dashboard",
  "metadata": {
    "name": "zi6h8lz",
    "namespace": "default",
    "uid": "6eca55ba-33ab-45ba-a115-aa398bd1dcfe",
    "resourceVersion": "1778508310601990",
    "generation": 6,
    "creationTimestamp": "2026-05-02T18:26:55Z",
    "labels": {
      "grafana.app/deprecatedInternalID": "1505383265349632"
    },
    "annotations": {
      "grafana.app/createdBy": "user:ffk8t5pe2c8hsf",
      "grafana.app/folder": "",
      "grafana.app/saved-from-ui": "Grafana v13.0.1 (a100054f)",
      "grafana.app/updatedBy": "user:ffk8t5pe2c8hsf",
      "grafana.app/updatedTimestamp": "2026-05-11T14:05:10Z"
    }
  },
  "spec": {
    "annotations": [
      {
        "kind": "AnnotationQuery",
        "spec": {
          "query": {
            "kind": "DataQuery",
            "group": "grafana",
            "version": "v0",
            "datasource": {
              "name": "-- Grafana --"
            },
            "spec": {}
          },
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "builtIn": true
        }
      }
    ],
    "cursorSync": "Off",
    "editable": true,
    "elements": {
      "panel-1": {
        "kind": "Panel",
        "spec": {
          "id": 1,
          "title": "Traffic (RPS)",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "datasource": {
                        "name": "{{ grafana_prometheus_datasource_name }}"
                      },
                      "spec": {
                        "editorMode": "code",
                        "expr": "sum by (code) (rate(caddy_http_request_duration_seconds_count[5m]))",
                        "legendFormat": "{{code}}",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": true,
                  "mode": "multi",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "reqps",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 0,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-2": {
        "kind": "Panel",
        "spec": {
          "id": 2,
          "title": "Outbound Bandwidth",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "datasource": {
                        "name": "{{ grafana_prometheus_datasource_name }}"
                      },
                      "spec": {
                        "editorMode": "code",
                        "expr": "sum(rate(caddy_http_response_size_bytes_sum[5m]))",
                        "legendFormat": "Outbound Bandwidth",
                        "range": true
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "timeseries",
            "version": "13.0.1",
            "spec": {
              "options": {
                "annotations": {
                  "clustering": -1,
                  "multiLane": false
                },
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": true
                },
                "tooltip": {
                  "hideZeros": false,
                  "mode": "single",
                  "sort": "none"
                }
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "bytes",
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  },
                  "custom": {
                    "axisBorderShow": false,
                    "axisCenteredZero": false,
                    "axisColorMode": "text",
                    "axisLabel": "",
                    "axisPlacement": "auto",
                    "barAlignment": 0,
                    "barWidthFactor": 0.6,
                    "drawStyle": "line",
                    "fillOpacity": 20,
                    "gradientMode": "none",
                    "hideFrom": {
                      "legend": false,
                      "tooltip": false,
                      "viz": false
                    },
                    "insertNulls": false,
                    "lineInterpolation": "linear",
                    "lineWidth": 1,
                    "pointSize": 5,
                    "scaleDistribution": {
                      "type": "linear"
                    },
                    "showPoints": "auto",
                    "showValues": false,
                    "spanNulls": false,
                    "stacking": {
                      "group": "A",
                      "mode": "none"
                    },
                    "thresholdsStyle": {
                      "mode": "off"
                    }
                  }
                },
                "overrides": []
              }
            }
          }
        }
      },
      "panel-3": {
        "kind": "Panel",
        "spec": {
          "id": 3,
          "title": "Total Requests by Status",
          "description": "",
          "links": [],
          "data": {
            "kind": "QueryGroup",
            "spec": {
              "queries": [
                {
                  "kind": "PanelQuery",
                  "spec": {
                    "query": {
                      "kind": "DataQuery",
                      "group": "prometheus",
                      "version": "v0",
                      "datasource": {
                        "name": "{{ grafana_prometheus_datasource_name }}"
                      },
                      "spec": {
                        "editorMode": "code",
                        "exemplar": false,
                        "expr": "sum by (code) (increase(caddy_http_request_duration_seconds_count[$__range]))",
                        "instant": true,
                        "legendFormat": "{{code}}",
                        "range": false
                      }
                    },
                    "refId": "A",
                    "hidden": false
                  }
                }
              ],
              "transformations": [],
              "queryOptions": {}
            }
          },
          "vizConfig": {
            "kind": "VizConfig",
            "group": "bargauge",
            "version": "13.0.1",
            "spec": {
              "options": {
                "displayMode": "basic",
                "legend": {
                  "calcs": [],
                  "displayMode": "list",
                  "placement": "bottom",
                  "showLegend": false
                },
                "maxVizHeight": 300,
                "minVizHeight": 16,
                "minVizWidth": 8,
                "namePlacement": "auto",
                "orientation": "horizontal",
                "reduceOptions": {
                  "calcs": [
                    "lastNotNull"
                  ],
                  "fields": "",
                  "values": false
                },
                "showUnfilled": true,
                "sizing": "auto",
                "valueMode": "color"
              },
              "fieldConfig": {
                "defaults": {
                  "unit": "short",
                  "decimals": 0,
                  "thresholds": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "value": 0,
                        "color": "green"
                      },
                      {
                        "value": 80,
                        "color": "red"
                      }
                    ]
                  },
                  "color": {
                    "mode": "palette-classic"
                  }
                },
                "overrides": [
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "200"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "200 (OK)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "green",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "101"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "101 (Switching Protocols)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "purple",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "302"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "302 (Found / Temp Redirect)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "blue",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "201"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "201 (Created)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "green",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "304"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "304 (Not Modified)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "blue",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "400"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "400 (Bad Request)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "orange",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "206"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "206 (Partial Content)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "green",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "425"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "425 (Too Early)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "orange",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "500"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "500 (Internal Server Error)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "red",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "502"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "502 (Bad Gateway)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "dark-red",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "401"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "401 (Unauthorized)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "orange",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "403"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "403 (Forbidden)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "orange",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "404"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "404 (Not Found)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "orange",
                          "mode": "fixed"
                        }
                      }
                    ]
                  },
                  {
                    "matcher": {
                      "id": "byName",
                      "scope": "series",
                      "options": "303"
                    },
                    "properties": [
                      {
                        "id": "displayName",
                        "value": "303 (See Other)"
                      },
                      {
                        "id": "color",
                        "value": {
                          "fixedColor": "blue",
                          "mode": "fixed"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "layout": {
      "kind": "GridLayout",
      "spec": {
        "items": [
          {
            "kind": "GridLayoutItem",
            "spec": {
              "x": 0,
              "y": 0,
              "width": 12,
              "height": 8,
              "element": {
                "kind": "ElementReference",
                "name": "panel-3"
              }
            }
          },
          {
            "kind": "GridLayoutItem",
            "spec": {
              "x": 12,
              "y": 0,
              "width": 12,
              "height": 8,
              "element": {
                "kind": "ElementReference",
                "name": "panel-2"
              }
            }
          },
          {
            "kind": "GridLayoutItem",
            "spec": {
              "x": 0,
              "y": 8,
              "width": 12,
              "height": 8,
              "element": {
                "kind": "ElementReference",
                "name": "panel-1"
              }
            }
          }
        ]
      }
    },
    "links": [],
    "liveNow": false,
    "preload": false,
    "tags": [],
    "timeSettings": {
      "timezone": "browser",
      "from": "now-1h",
      "to": "now",
      "autoRefresh": "15s",
      "autoRefreshIntervals": [
        "5s",
        "10s",
        "15s",
        "30s",
        "1m",
        "5m",
        "15m",
        "30m",
        "1h",
        "2h",
        "1d"
      ],
      "hideTimepicker": false,
      "fiscalYearStartMonth": 0
    },
    "title": "Caddy",
    "variables": [],
    "preferences": {
      "layout": {
        "kind": "GridLayout",
        "spec": {
          "items": []
        }
      }
    }
  }
}