FRIGATE_DOORBELL_HTTP_ADDRESS={{ camera_doorbell_http_ip }}
FRIGATE_DOORBELL_RTSP_ADDRESS={{ camera_doorbell_rtsp_ip }}
FRIGATE_FRONT_HTTP_ADDRESS={{ camera_front_http_ip }}
FRIGATE_FRONT_RTSP_ADDRESS={{ camera_front_rtsp_ip }}
FRIGATE_BACK_HTTP_ADDRESS={{ camera_back_http_ip }}
FRIGATE_BACK_RTSP_ADDRESS={{ camera_back_rtsp_ip }}
FRIGATE_ENTRY_HTTP_ADDRESS={{ camera_entry_http_ip }}
FRIGATE_ENTRY_RTSP_ADDRESS={{ camera_entry_rtsp_ip }}

FRIGATE_DOORBELL_USER={{ vault_frigate_doorbell_user }}
FRIGATE_DOORBELL_PASSWORD={{ vault_frigate_doorbell_password }}
FRIGATE_FRONT_USER={{ vault_frigate_front_user }}
FRIGATE_FRONT_PASSWORD={{ vault_frigate_front_password }}
FRIGATE_BACK_USER={{ vault_frigate_back_user }}
FRIGATE_BACK_PASSWORD={{ vault_frigate_back_password }}
FRIGATE_ENTRY_USER={{ vault_frigate_entry_user }}
FRIGATE_ENTRY_PASSWORD={{ vault_frigate_entry_password }}

FRIGATE_MQTT_USER={{ vault_mosquitto_frigate_user }}
FRIGATE_MQTT_PASSWORD={{ vault_mosquitto_frigate_password }}

TZ={{ timezone }}
