[Unit]
Description=Frigate
Documentation=https://docs.frigate.video/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/frigate/config
RequiresMountsFor={{ frigate_storage_path }}

[Container]
# --- Image / Exec ---
Image={{ frigate_image }}:{{ frigate_version }}
ContainerName=frigate
StopTimeout=120

# --- Identity / Namespaces ---
GroupAdd=keep-groups
UserNS=keep-id:uid=0,gid=0

# --- Resource Limits ---
ShmSize=1g
Memory={{ frigate_memory_limit }}

# --- Devices ---
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128
AddDevice=/dev/accel/accel0:/dev/accel/accel0

# --- Storage ---
Volume={{ stacks_path }}/frigate/config:/config:Z
Volume={{ stacks_path }}/frigate/nginx/nginx.conf:/usr/local/nginx/conf/nginx.conf:Z
Volume={{ frigate_storage_path }}:/media/frigate

Tmpfs=/tmp/cache:rw,size=1g,mode=1777

# --- Networking ---
PublishPort={{ vault_primary_ip }}:8555:8555/tcp
PublishPort={{ vault_primary_ip }}:8555:8555/udp

Network=frigate.network
Network=home.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/frigate/frigate.env

HealthCmd=["/bin/sh", "-c", "test -f /dev/shm/.frigate-is-stopping && exit 0; curl --fail --silent --show-error http://127.0.0.1:5000/api/version || exit 1"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=300s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=130

[Install]
WantedBy=default.target
