apiVersion: 1

contactPoints:
    - orgId: 1
      name: Discord
      receivers:
        - uid: discord_webhook
          type: discord
          settings:
            url: "${VAR_DISCORD_WEBHOOK_URL}"
            use_discord_username: true
          disableResolveMessage: false
