apiVersion: 1

contactPoints:
    - orgId: 1
      name: Discord
      receivers:
        - uid: discord_webhook
          type: discord
          settings:
            url: "$__file{/run/secrets/discord_webhook_url}"
            use_discord_username: true
            use_embed_description: true
            title: '{% raw %}{{ template "nova.title" . }}{% endraw %}'
            message: '{% raw %}{{ template "nova.message" . }}{% endraw %}'
          disableResolveMessage: false


muteTimes:
    - orgId: 1
      name: weekly-maintenance
      time_intervals:
        - weekdays: ['sunday']
          times:
            - start_time: '01:55'
              end_time: '02:50'
          location: '{{ timezone }}'
