apiVersion: 1

providers:
  - name: 'Ansible Provisioned Dashboards'
    orgId: 1
    type: file
    disableDeletion: true
    updateIntervalSeconds: 15
    allowUiUpdates: false
    options:
      path: /etc/grafana/provisioning/dashboards
      foldersFromFilesStructure: true
