GF_SECURITY_ADMIN_USER={{ vault_admin_username }}
GF_SECURITY_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
GF_SECURITY_DISABLE_GRAVATAR=true
GF_SECURITY_COOKIE_SECURE=true
GF_SECURITY_STRICT_TRANSPORT_SECURITY=true
GF_SECURITY_CONTENT_SECURITY_POLICY=true

GF_SERVER_DOMAIN=grafana.{{ vault_domain }}
GF_SERVER_ROOT_URL=https://{{ services['grafana']['subdomain'] }}.{{ vault_domain }}/
GF_SERVER_ENFORCE_DOMAIN=true

GF_AUTH_PROXY_ENABLED=true
GF_AUTH_PROXY_HEADER_NAME=Remote-User
GF_AUTH_PROXY_HEADER_PROPERTY=username
GF_AUTH_PROXY_AUTO_SIGN_UP=true
GF_AUTH_PROXY_WHITELIST=10.89.0.0/16
GF_AUTH_PROXY_SYNC_TTL=60
GF_AUTH_PROXY_ENABLE_LOGIN_TOKEN=true

GF_ANALYTICS_REPORTING_ENABLED=false
GF_ANALYTICS_CHECK_FOR_UPDATES=false
GF_ANALYTICS_FEEDBACK_LINKS_ENABLED=false
