[Unit]
Description=Grafana
Documentation=https://grafana.com/docs/grafana/latest/

Wants=network-online.target
After=network-online.target

RequiresMountsFor=/srv/monitoring/grafana/data

[Container]
Image={{ grafana_image }}:{{ version_grafana }}
ContainerName=grafana
Timezone={{ timezone }}
Memory={{ grafana_memory_limit }}

DropCapability=all
NoNewPrivileges=true

StopTimeout=20

UserNS=keep-id:uid=472,gid=472

EnvironmentFile=/srv/monitoring/grafana/grafana.env

Volume=/srv/monitoring/grafana/provisioning:/etc/grafana/provisioning:ro,Z
Volume=/srv/monitoring/grafana/data:/var/lib/grafana:Z

Network=grafana.network
Network=monitoring-backend.network

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
