[Unit]
Description=Grafana
Documentation=https://grafana.com/docs/grafana/latest/

Wants=network-online.target
After=network-online.target

RequiresMountsFor=/srv/monitoring/grafana/data

[Container]
# --- Image / Exec ---
Image={{ grafana_image }}:{{ grafana_version }}
ContainerName=grafana
StopTimeout=20

# --- Identity / Namespaces ---
UserNS=keep-id:uid=472,gid=472

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ grafana_memory_limit }}

# --- Storage ---
Volume=/srv/monitoring/grafana/provisioning:/etc/grafana/provisioning:ro,Z
Volume=/srv/monitoring/grafana/data:/var/lib/grafana:Z

# --- Networking ---
Network=grafana.network
Network=monitoring-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile=/srv/monitoring/grafana/grafana.env

HealthCmd=["wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:3000/api/health"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
