# /etc/ssh/sshd_config.d/40-hardening.conf
# Managed by Ansible

PasswordAuthentication no
KbdInteractiveAuthentication no
AuthenticationMethods publickey
PermitRootLogin no
PubkeyAuthentication yes
PermitEmptyPasswords no
AllowUsers {{ ansible_user }}
