version: 5
mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://mosquitto:1883
  user: '!secret.yaml user'
  password: '!secret.yaml password'
  client_id: zigbee2mqtt
serial:
  port: /dev/ttyACM0
  adapter: {{ zigbee2mqtt_adapter }}
advanced:
  channel: {{ zigbee2mqtt_channel }}
  network_key: '!secret.yaml network_key'
  pan_id: 26794
  ext_pan_id:
    - 88
    - 193
    - 119
    - 212
    - 12
    - 5
    - 136
    - 240
  last_seen: ISO_8601
  log_level: info
  log_namespaced_levels:
      z2m:mqtt: warning
frontend:
  enabled: true
  url: https://{{ service_endpoints['zigbee2mqtt']['subdomain'] }}.{{ vault_domain }}
homeassistant:
  enabled: true
devices: devices.yaml
groups: groups.yaml
availability:
  enabled: true
