[Unit]
Description=Zigbee2MQTT
Documentation=https://www.zigbee2mqtt.io/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/zigbee2mqtt/data
RequiresMountsFor={{ stacks_path }}/zigbee2mqtt/config

[Container]
# --- Image / Exec ---
Image={{ zigbee2mqtt_image }}:{{ version_zigbee2mqtt }}
ContainerName=zigbee2mqtt
StopTimeout=20

# --- Identity / Namespaces ---
GroupAdd=keep-groups
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ zigbee2mqtt_memory_limit }}

# --- Devices ---
AddDevice={{ zigbee2mqtt_adapter_path }}:/dev/ttyACM0

# --- Storage ---
Volume={{ stacks_path }}/zigbee2mqtt/data:/app/data:Z
Volume={{ stacks_path }}/zigbee2mqtt/config/configuration.yaml:/app/data/configuration.yaml:Z
Volume={{ stacks_path }}/zigbee2mqtt/config/secret.yaml:/app/data/secret.yaml:Z
Volume={{ stacks_path }}/zigbee2mqtt/config/devices.yaml:/app/data/devices.yaml:Z
Volume={{ stacks_path }}/zigbee2mqtt/config/groups.yaml:/app/data/groups.yaml:Z

# --- Networking ---
Network=zigbee2mqtt.network
Network=home.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/zigbee2mqtt/zigbee2mqtt.env

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
