[Unit]
Description=Verify Homelab Cloud Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStart=/home/{{ ansible_user }}/.local/bin/homelab-verify-backup.sh

StandardOutput=journal
StandardError=journal

TimeoutStartSec=10m
TimeoutStopSec=2m
