[Unit]
Description=Restic & Rclone Homelab Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStartPre=-/home/{{ ansible_user }}/.local/bin/git-sync.sh
ExecStart=/home/{{ ansible_user }}/.local/bin/homelab-backup.sh

StandardOutput=journal
StandardError=journal

TimeoutStartSec=1h
TimeoutStopSec=5m
