[Unit]
Description=Verify Homelab Cloud Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot

ExecStart={{ user_bin_path }}/homelab-verify-backup.sh

StandardOutput=journal
StandardError=journal

TimeoutStartSec=10m
TimeoutStopSec=2m
