[Unit]
Description=Loki
Documentation=https://grafana.com/docs/loki/latest/

Wants=network-online.target
After=network-online.target

RequiresMountsFor=/srv/monitoring/loki/data

[Container]
# --- Image / Exec ---
Image={{ loki_image }}:{{ version_loki }}
ContainerName=loki
StopTimeout=20

# --- Identity / Namespaces ---
UserNS=keep-id:uid=10001,gid=10001

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ loki_memory_limit }}

# --- Storage ---
Volume=/srv/monitoring/loki/loki.yaml:/etc/loki/local-config.yaml:ro,Z
Volume=/srv/monitoring/loki/data:/loki:Z

# --- Networking ---
Network=loki.network
Network=monitoring-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

PublishPort=127.0.0.1:3100:3100

HealthCmd=["/usr/bin/loki", "-health", "-health.url=http://127.0.0.1:3100/ready"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=120s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
