[Unit]
Description=Loki

Wants=network-online.target
After=network-online.target

RequiresMountsFor=/srv/monitoring/loki/data

[Container]
Image={{ loki_image }}
ContainerName=loki
Timezone={{ timezone }}
Memory={{ loki_memory_limit }}

UserNS=keep-id:uid=10001,gid=10001

Volume=/srv/monitoring/loki/loki.yaml:/etc/loki/local-config.yaml:ro,Z
Volume=/srv/monitoring/loki/data:/loki:Z

Network=loki.network
Network=monitoring-backend.network

HealthCmd=/usr/bin/loki -health -health.url=http://127.0.0.1:3100/ready
HealthInterval=15s
HealthRetries=5
HealthStartPeriod=30s
HealthTimeout=5s

[Service]
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=default.target
