[DEFAULT]
banaction = firewallcmd-rich-rules
bantime   = 1h
findtime  = 10m
maxretry  = 3

[sshd]
enabled = true
mode    = normal

[vaultwarden]
enabled   = true
port      = 80,443
banaction = %(banaction_allports)s
backend   = systemd
filter    = vaultwarden[journalmatch='_SYSTEMD_UNIT=vaultwarden.service']
