set -gx EDITOR micro

if status is-interactive
    abbr -a up "{{ dotfiles_update_cmd }}"
    abbr -a upclean "{{ dotfiles_update_clean_cmd }}"
end

function fish_greeting
    if set -q ZELLIJ
        return
    end

    if command -q fastfetch
        fastfetch
    end

    echo ""
    set_color -o blue
    echo "Quick commands:"
    set_color green
    echo -n "  up      "
    set_color normal
    echo "-> update packages ({{ dotfiles_update_label }})"
    set_color green
    echo -n "  upclean "
    set_color normal
    echo "-> update and clean up ({{ dotfiles_update_clean_label }})"
    echo ""
end
