assist_pipeline:
backup:
config:
conversation:
energy:
file:
go2rtc:
history:
homeassistant_alerts:
cloud:
image_upload:
logbook:
media_source:
mobile_app:
my:
stream:
sun:
usage_prediction:
webhook:

homeassistant:
  name: Home
  unit_system: metric
  temperature_unit: C
  time_zone: {{ timezone }}
  currency: PLN

  external_url: https://{{ services['homeassistant']['subdomain'] }}.{{ vault_domain }}
  internal_url: https://{{ services['homeassistant']['subdomain'] }}.{{ vault_domain }}

frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

logger:
  default: warning

recorder:
  purge_keep_days: 7
  auto_purge: true

prometheus:
  requires_auth: false
  namespace: homeassistant

  component_config_glob:
    sensor.*_temperature:
      override_metric: temperature_c
    sensor.*_humidity:
      override_metric: humidity_percent
    sensor.*_power:
      override_metric: power_watts
    sensor.*_energy:
      override_metric: energy_kwh

  filter: !include ansible_managed/prometheus_filter.yaml

input_boolean:
  doorbell_calling:
    name: Doorbell Calling
    icon: mdi:bell-ring
    initial: off

schedule:
  doorbell_do_not_disturb:
    name: "Doorbell Do Not Disturb"
    icon: "mdi:bell-sleep"
    monday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    tuesday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    wednesday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    thursday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    friday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    saturday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"
    sunday:
      - from: "00:00:00"
        to: "05:00:00"
      - from: "22:00:00"
        to: "24:00:00"

{% raw %}
template:
  - sensor:
      - name: "Dashboard Greeting"
        unique_id: dashboard_greeting
        state: >
          {% set time = now().hour %}
          {% if time < 5 %} Dobranoc 😴
          {% elif time < 12 %} Dzień dobry ☀️
          {% elif time < 18 %} Miłego popołudnia 🌤
          {% elif time < 22 %} Dobry wieczór 🌙
          {% else %} Spokojnego wieczoru 🌌
          {% endif %}

      - name: "Polish Date"
        unique_id: polish_date
        state: >
          {% set days = {'Monday': 'poniedziałek', 'Tuesday': 'wtorek', 'Wednesday': 'środa', 'Thursday': 'czwartek', 'Friday': 'piątek', 'Saturday': 'sobota', 'Sunday': 'niedziela'} %}
          {% set months = {'January': 'stycznia', 'February': 'lutego', 'March': 'marca', 'April': 'kwietnia', 'May': 'maja', 'June': 'czerwca', 'July': 'lipca', 'August': 'sierpnia', 'September': 'września', 'October': 'października', 'November': 'listopada', 'December': 'grudnia'} %}
          {% set now = now() %}
          {{ days[now.strftime('%A')] }}, {{ now.day }} {{ months[now.strftime('%B')] }} {{ now.strftime('%H:%M') }}
{% endraw %}
