[Unit]
Description={{ item.description | default(item.name ~ ' network') }}

[Network]
NetworkName={{ item.name }}
InterfaceName={{ item.ifname | default('pn-' ~ item.name) }}
Subnet={{ podman_network_prefix }}.{{ item.id }}.0/24
Gateway={{ podman_network_prefix }}.{{ item.id }}.1
IPRange={{ podman_network_prefix }}.{{ item.id }}.128/25
{% if item.internal | default(false) %}
Internal=true
{% endif %}
{% if item.isolate | default(true) %}
Options=isolate=strict
{% endif %}
{% if not (item.egress | default(true)) and not (item.internal | default(false)) %}
Options=no_default_route=true
{% endif %}
NetworkDeleteOnStop=true
