[Unit]
Description=Prune Unused Podman Resources
Wants=network.target
Conflicts=homelab-backup.service
After=homelab-backup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/podman image prune --force --filter until=168h
ExecStart=/usr/bin/podman volume prune --force
ExecStart=/usr/bin/podman system prune --force --filter until=168h
TimeoutStartSec=600
