[Unit]
Description=Pi-Hole
Documentation=https://docs.pi-hole.net/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/pihole/etc-pihole

[Container]
# --- Image / Exec ---
Image={{ pihole_image }}:{{ pihole_version }}
ContainerName=pihole
StopTimeout=20

# --- Identity / Namespaces ---
# UserNS=keep-id:uid=1000,gid=1000

# --- Security / Capabilities ---
# DropCapability=all
# NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ pihole_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/pihole/etc-pihole:/etc/pihole:Z

# --- Networking ---
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort={{ host_svc_address }}:8080:80

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/pihole/pihole.env

HealthCmd=["/bin/sh", "-c", "dig -p $(pihole-FTL --config dns.port) +short +norecurse +retry=0 @127.0.0.1 pi.hole || exit 1"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
