{%- set dns_list = [ primary_ip ~ ' ' ~ vault_domain ] -%}
{%- for service_name, config in services.items() -%}
  {%- if config.get('subdomain') -%}
    {%- set _ = dns_list.append(primary_ip ~ ' ' ~ config.subdomain ~ '.' ~ vault_domain) -%}
  {%- endif -%}
{%- endfor -%}

TZ={{ timezone }}

FTLCONF_webserver_api_password={{ vault_pihole_webserver_api_password }}
FTLCONF_webserver_api_pwhash={{ vault_pihole_webserver_app_password_hash }}
FTLCONF_webserver_api_allow_destructive=false
FTLCONF_webserver_session_timeout={{ pihole_session_timeout }}

FTLCONF_dns_listeningMode={{ pihole_dns_listening_mode }}
FTLCONF_dns_revServers={{ pihole_dns_rev_servers }}
FTLCONF_dns_upstreams={{ vault_pihole_dns_upstreams }}
FTLCONF_dns_hosts={{ dns_list | join(';') }}

FTLCONF_ntp_sync_active=false
FTLCONF_ntp_ipv4_active=false
FTLCONF_ntp_ipv6_active=false
