[Unit]
Description=Pi-Hole
Documentation=https://docs.pi-hole.net/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/pihole/etc-pihole

[Container]
Image={{ pihole_image }}
ContainerName=pihole
Timezone={{ timezone }}
Memory={{ pihole_memory_limit }}

EnvironmentFile={{ stacks_path }}/pihole/pihole.env

StopTimeout=20

PublishPort=53:53/tcp
PublishPort=53:53/udp

PublishPort=8080:80

Volume={{ stacks_path }}/pihole/etc-pihole:/etc/pihole:Z

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
