FTLCONF_dns_upstreams={{ vault_pihole_dns_upstreams }}
FTLCONF_dns_hosts={{ vault_pihole_dns_hosts }}
FTLCONF_webserver_api_password={{ vault_pihole_webserver_api_password }}
FTLCONF_webserver_api_pwhash={{ vault_pihole_webserver_app_password_hash }}

TZ={{ timezone }}
FTLCONF_dns_listeningMode={{ pihole_dns_listeningMode }}
FTLCONF_dns_revServers={{ pihole_dns_revServers }}
FTLCONF_webserver_session_timeout={{ pihole_session_timeout }}

FTLCONF_ntp_sync_active=false
FTLCONF_ntp_ipv4_active=false
FTLCONF_ntp_ipv6_active=false
