{%- set dns_list = [ vault_primary_ip ~ ' ' ~ vault_domain ] -%}
{%- for service_name, config in service_endpoints.items() -%}
  {%- if config.get('subdomain') -%}
    {%- set _ = dns_list.append(vault_primary_ip ~ ' ' ~ config.subdomain ~ '.' ~ vault_domain) -%}
  {%- endif -%}
{%- endfor -%}

{%- set _ = dns_list.extend([
  vault_camera_doorbell_ip ~ ' doorbell.internal',
  vault_camera_front_ip ~ ' front.internal',
  vault_camera_back_ip ~ ' back.internal',
  vault_camera_entry_ip ~ ' entry.internal'
]) -%}

FTLCONF_webserver_api_allow_destructive=false
FTLCONF_webserver_session_timeout={{ pihole_session_timeout }}

FTLCONF_dns_listeningMode={{ pihole_dns_listening_mode }}
FTLCONF_dns_revServers={{ pihole_dns_rev_servers }}
FTLCONF_dns_upstreams={{ vault_pihole_dns_upstreams }}
FTLCONF_dns_hosts={{ dns_list | join(';') }}

FTLCONF_ntp_sync_active=false
FTLCONF_ntp_ipv4_active=false
FTLCONF_ntp_ipv6_active=false
