logging {
    level = "warn"
}

prometheus.remote_write "local_prom" {
    endpoint {
        url = "http://127.0.0.1:9080/api/v1/write"
    }
}

loki.write "local_loki" {
    endpoint {
        url = "http://127.0.0.1:3100/loki/api/v1/push"
    }
}

loki.source.journal "system" {
    forward_to    = [loki.write.local_loki.receiver]
    relabel_rules = loki.relabel.journal.rules
}

loki.relabel "journal" {
    forward_to = []

    rule {
        target_label = "job"
        replacement  = "os"
    }

    rule {
        source_labels = ["__journal_container_name"]
        regex         = "(.+)"
        target_label  = "job"
        replacement   = "container"
    }

    rule {
        source_labels = ["__journal__systemd_unit"]
        target_label  = "unit"
    }

    rule {
        source_labels = ["__journal_syslog_identifier"]
        target_label  = "syslog_identifier"
    }

    rule {
        target_label = "host"
        replacement  = constants.hostname
    }

    rule {
        source_labels = ["__journal_container_name"]
        target_label  = "container"
    }
}

prometheus.exporter.unix "host" {
    include_exporter_metrics = true
    disable_collectors       = ["mdadm", "nfs", "nfsd", "tapestats", "infiniband", "fibrechannel", "ipvs", "btrfs", "zfs", "bcache"]
    enable_collectors        = ["systemd", "processes", "logind"]

    textfile {
        directory = "/opt/alloy-metrics"
    }
}

prometheus.scrape "host_metrics" {
    targets = array.concat(
        prometheus.exporter.unix.host.targets,
        [
            {
                job         = "alloy",
                __address__ = "{{ host_svc_address }}:12345",
            },
            {
                job         = "podman",
                __address__ = "127.0.0.1:9882",
            },
            {
                job         = "tailscale",
                __address__ = "100.100.100.100:80",
            },
        ],
    )
    forward_to = [prometheus.remote_write.local_prom.receiver]

    scrape_interval = "15s"
}
