# Managed by Ansible (alloy role).
{% for disk in alloy_smartd_device_overrides %}
{{ disk.device }} {{ disk.directives }}
{% endfor %}
DEVICESCAN -H -f -l error -l selftest -n standby,24,q -s (S/../.././03|L/../0[1-7]/7/04)
