[Unit]
Description=OpenRGB
Documentation=https://github.com/CalcProgrammer1/OpenRGB/

Wants=network-online.target
After=network-online.target

[Container]
Image={{ openrgb_local_image }}:latest
ContainerName=openrgb
Timezone={{ timezone }}
Memory={{ openrgb_memory_limit }}

DropCapability=all
NoNewPrivileges=true

StopTimeout=20

AddDevice=/dev/asrock_rgb_hid

GroupAdd=keep-groups
UserNS=keep-id:uid=0,gid=0

Network=openrgb.network

[Service]
# Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

ExecStartPost=/bin/sleep 10
ExecStartPost=/usr/bin/podman exec openrgb /app/openrgb --noautoconnect --nodetect --client 127.0.0.1:6742 -d 0 -z 0 -m Static -c FF0000

[Install]
WantedBy=default.target
