[Unit]
Description=OpenRGB
Documentation=https://github.com/CalcProgrammer1/OpenRGB/

Wants=network-online.target
After=network-online.target

[Container]
# --- Image / Exec ---
Image={{ openrgb_local_image }}:latest
ContainerName=openrgb
StopTimeout=20

# --- Identity / Namespaces ---
GroupAdd=keep-groups
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ openrgb_memory_limit }}

# --- Devices ---
AddDevice=/dev/asrock_rgb_hid

# --- Networking ---
Network=openrgb.network

# --- Configuration / Env ---
Timezone={{ timezone }}

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900
TimeoutStopSec=30

ExecStartPost=/bin/sleep 5
ExecStartPost=/usr/bin/podman exec openrgb /app/openrgb --noautoconnect --nodetect --client 127.0.0.1:6742 -d 0 -z 0 -m Static -c FF0000

[Install]
WantedBy=default.target
