[Unit]
Description=OpenRGB
Documentation=https://github.com/CalcProgrammer1/OpenRGB/

[Container]
# --- Image / Exec ---
Image={{ openrgb_local_image }}:latest
ContainerName=openrgb
StopTimeout=20

Notify=healthy

# --- Identity / Namespaces ---
GroupAdd=keep-groups
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ openrgb_memory_limit }}

# --- Devices ---
AddDevice=/dev/asrock_rgb_hid

# --- Networking ---
Network=openrgb.network

# --- Configuration / Env ---
Timezone={{ timezone }}

HealthCmd=["bash", "-c", "exec 3<>/dev/tcp/127.0.0.1/6742"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

HealthStartupCmd=["bash", "-c", "exec 3<>/dev/tcp/127.0.0.1/6742"]
HealthStartupInterval=2s
HealthStartupTimeout=5s
HealthStartupSuccess=1

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
