# Cloudflare DNS-01
(cloudflare_tls) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

# Authelia Forward Auth
(authelia_middleware) {
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }
}

# Authelia Forward Auth Basic (without passing headers)
(authelia_middleware_basic) {
    forward_auth authelia:9091 {
        uri /api/authz/forward-auth
    }
}

(standard) {
    encode
}

(gatekeeper) {
    @denied {
        not remote_ip {args[:]}
    }
    handle @denied {
        respond "Access Denied by Gatekeeper" 403
    }
}

{
	default_bind fd/4 {
		protocols h1 h2
	}

	default_bind fdgram/5 {
		protocols h3
	}
	# TODO: admin unix//data/admin.sock
	auto_https disable_redirects
}

http:// {
	bind fd/3 {
		protocols h1
	}
	redir https://{host}{uri}
	log # TODO: 
}

# Wildcard controller
*.{$DOMAIN} {
    import cloudflare_tls

    respond "Service not found" 404
}

# Root Domain
{$DOMAIN} {
    import cloudflare_tls
    import standard

    # TODO: need to verify if podman network is still needed there
    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        reverse_proxy glance:8080
    }
}

# Subdomains
auth.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK} {env.DASHBOARD_IP}

    handle {
        reverse_proxy authelia:9091
    }
}

restic.{$DOMAIN} {
    # TODO: Probably doesn't make sense to compress data there, if sent data is already compressed

    import gatekeeper {env.HOME_NETWORK}

    handle {
        reverse_proxy restic:8000
    }
}

# TODO: add basic auth so it should work with orca slicer / service account for orca slicer and forward auth for user
mainsail.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        reverse_proxy {$PRINTER_IP}
    }
}

switch.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy {$SWITCH_IP}
    }
}

kuma.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy uptime-kuma:3001
    }
}

status.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        reverse_proxy uptime-kuma:3001
    }
}

go2rtc.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy frigate:1984
    }
}

frigate.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware
        reverse_proxy frigate:8971 {
            header_up X-Proxy-Secret {env.FRIGATE_AUTH_SECRET}
        }
    }
}

# paperless.{$DOMAIN} {
#     import standard
# 
#     import allow_home
#     import allow_tailscale
# 
#     import gatekeeper
# 
#     reverse_proxy paperless:8000 {
#         header_down Referrer-Policy "strict-origin-when-cross-origin"
#     }
# }

z2m.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy zigbee2mqtt:8080
    }
}

pihole.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy host.containers.internal:8080
    }
}

ha.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK} {env.DASHBOARD_IP}

    handle {
        reverse_proxy homeassistant:8123
    }
}

# dozzle.{$DOMAIN} {
#     import standard
# 
#     import allow_home
#     import allow_tailscale
# 
#     import gatekeeper
# 
#     import authelia_middleware
# 
#     reverse_proxy dozzle:8080
# }

# TODO: authelia service account
# beszel.{$DOMAIN} {
#     import standard
# 
#     import allow_home
#     import allow_tailscale
#     # Beszel Agent access to Hub
#     import allow_homelab
# 
#     import gatekeeper
# 
#     request_body {
#         max_size 10MB
#     }
# 
#     reverse_proxy beszel:8090 {
#         transport http {
#             read_timeout 360s
#         }
#     }
# }

docs.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        import authelia_middleware_basic
        reverse_proxy mkdocs:8000
    }
}

# TODO: need to verify if it works and later remove its port from firewall
cockpit.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK} {env.TAILSCALE_NETWORK}

    handle {
        # TODO: probably should proxy to http port or specify that it is https, because then it goes into redirect loop
        reverse_proxy host.containers.internal:9090
    }
}

camera-doorbell.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK}

    handle {
        reverse_proxy {$CAMERA_DOORBELL_HTTP_IP} {
            header_up -Via
        }
    }
}

camera-front.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK}

    handle {
        reverse_proxy {$CAMERA_FRONT_HTTP_IP} {
            header_up -Via
        }
    }
}

camera-back.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK}

    handle {
        reverse_proxy {$CAMERA_BACK_HTTP_IP} {
            header_up -Via
        }
    }
}

camera-entry.{$DOMAIN} {
    import standard

    import gatekeeper {env.HOME_NETWORK}

    handle {
        reverse_proxy {$CAMERA_ENTRY_HTTP_IP} {
            header_up -Via
        }
    }
}
