# Global settings
log_dest stdout

persistence true
persistence_location /mosquitto/data/

global_plugin /usr/lib/mosquitto_persist_sqlite.so

# Port 1883 listener settings
listener 1883

listener_allow_anonymous false

plugin /usr/lib/mosquitto_password_file.so
plugin_opt_password_file /mosquitto/config/pwfile
