[Unit]
Description=Mosquitto MQTT
Documentation=https://mosquitto.org/documentation/

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ stacks_path }}/mosquitto/config
RequiresMountsFor={{ stacks_path }}/mosquitto/data
RequiresMountsFor={{ stacks_path }}/mosquitto/log

[Container]
# --- Image / Exec ---
Image={{ mosquitto_image }}:{{ version_mosquitto }}
ContainerName=mosquitto
StopTimeout=20

# --- Identity / Namespaces ---
UserNS=keep-id

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ mosquitto_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/mosquitto/config:/mosquitto/config:Z
Volume={{ stacks_path }}/mosquitto/data:/mosquitto/data:Z
Volume={{ stacks_path }}/mosquitto/log:/mosquitto/log:Z

# --- Networking ---
Network=home.network

# --- Configuration / Env ---
Timezone={{ timezone }}

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
