[Unit]
Description=Restic Rest Server
Documentation=https://github.com/restic/rest-server

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ restic_data_path }}

[Container]
# --- Image / Exec ---
Image={{ restic_image }}:{{ version_restic }}
ContainerName=restic
StopTimeout=20

# --- Identity / Namespaces ---
UserNS=keep-id:uid=0,gid=0

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ restic_memory_limit }}

# --- Storage ---
Volume={{ restic_data_path }}:/data:Z

# --- Networking ---
Network=restic.network

# --- Configuration / Env ---
Timezone={{ timezone }}

Environment=OPTIONS="--private-repos --prometheus --prometheus-no-auth --proxy-auth-username Remote-User"

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
