[Unit]
Description=Restic Rest Server
Documentation=https://github.com/restic/rest-server

Wants=network-online.target
After=network-online.target

RequiresMountsFor={{ restic_data_path }}

[Container]
Image={{ restic_image }}
ContainerName=restic
Timezone={{ timezone }}
Memory={{ restic_memory_limit }}

DropCapability=all
NoNewPrivileges=true

StopTimeout=20

UserNS=keep-id:uid=0,gid=0

Environment=OPTIONS="--private-repos --prometheus --prometheus-no-auth --proxy-auth-username Remote-User"

Volume={{ restic_data_path }}:/data:Z

Network=restic.network

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
