[Unit]
Description=Authelia Redis

RequiresMountsFor={{ stacks_path }}/authelia/redis

[Container]
# --- Image / Exec ---
Image={{ authelia_redis_image }}:{{ version_authelia_redis }}
ContainerName=authelia-redis
StopTimeout=20

Exec=redis-server --requirepass {{ vault_authelia_redis_password }} --save 60 1 --loglevel warning

# --- Identity / Namespaces ---
User=999:999
UserNS=keep-id:uid=999,gid=999

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ authelia_redis_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/authelia/redis:/data:Z

# --- Networking ---
Network=authelia-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

HealthCmd=["redis-cli", "ping"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
