[Unit]
Description=Authelia Redis

RequiresMountsFor={{ stacks_path }}/authelia/redis

[Container]
Image={{ authelia_redis_image }}
ContainerName=authelia-redis
Timezone={{ timezone }}
Memory={{ authelia_redis_memory_limit }}

Exec=redis-server --requirepass {{ vault_authelia_redis_password }} --save 60 1 --loglevel warning

Volume={{ stacks_path }}/authelia/redis:/data:Z

Network=authelia-backend.network

[Service]
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=default.target
