[Unit]
Description=Authelia PostgreSQL

RequiresMountsFor={{ stacks_path }}/authelia/postgres

[Container]
# --- Image / Exec ---
Image={{ authelia_postgres_image }}:{{ authelia_postgres_version }}
ContainerName=authelia-postgres
StopTimeout=20

Exec=postgres -c log_min_messages=WARNING

# --- Identity / Namespaces ---
User=999:999
UserNS=keep-id:uid=999,gid=999

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ authelia_postgres_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/authelia/postgres:/var/lib/postgresql:Z
Volume={{ stacks_path }}/authelia/secrets/STORAGE_PASSWORD:/STORAGE_PASSWORD:ro,z

# --- Networking ---
Network=authelia-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

Environment=POSTGRES_USER=authelia
Environment=POSTGRES_PASSWORD_FILE=/STORAGE_PASSWORD

HealthCmd=["pg_isready", "-q", "-U", "authelia"]
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
