[Unit]
Description=Authelia
Documentation=https://www.authelia.com/

Wants=network-online.target
After=network-online.target

Requires=authelia-postgres.service authelia-redis.service
After=authelia-postgres.service authelia-redis.service

RequiresMountsFor={{ stacks_path }}/authelia/config

[Container]
# --- Image / Exec ---
Image={{ authelia_image }}:{{ version_authelia }}
ContainerName=authelia
StopTimeout=20

# --- Identity / Namespaces ---
UserNS=keep-id

# --- Security / Capabilities ---
DropCapability=all
NoNewPrivileges=true

# --- Resource Limits ---
Memory={{ authelia_memory_limit }}

# --- Storage ---
Volume={{ stacks_path }}/authelia/config:/config:Z
Volume={{ stacks_path }}/authelia/secrets:/secrets:ro,z

# --- Networking ---
Network=authelia.network
Network=authelia-backend.network

# --- Configuration / Env ---
Timezone={{ timezone }}

EnvironmentFile={{ stacks_path }}/authelia/authelia.env

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
