[Unit]
Description=Authelia PostgreSQL

RequiresMountsFor={{ stacks_path }}/authelia/postgres

[Container]
Image={{ authelia_postgres_image }}
ContainerName=authelia-postgres
Timezone={{ timezone }}
Memory={{ authelia_postgres_memory_limit }}

StopTimeout=20

Environment=POSTGRES_USER=authelia
Environment=POSTGRES_PASSWORD_FILE=/STORAGE_PASSWORD

Volume={{ stacks_path }}/authelia/postgres:/var/lib/postgresql:Z
Volume={{ stacks_path }}/authelia/secrets/STORAGE_PASSWORD:/STORAGE_PASSWORD:ro,z

Network=authelia-backend.network

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=30

[Install]
WantedBy=default.target
