theme: 'auto'

server:
  address: 'tcp://:9091'
  buffers:
    read: 16384
    write: 16384

telemetry:
  metrics:
    enabled: true
    address: 'tcp://:9959/metrics'

authentication_backend:
  file:
    path: '/config/users_database.yml'

totp:
  issuer: '{{ vault_domain }}'

definitions:
  network:
    internal:
      - '{{ vault_network_home }}'
    tailscale:
      - '{{ vault_network_tailscale }}'
    dashboard:
      - '{{ vault_dashboard_tablet_ip }}/32'

access_control:
  default_policy: 'deny'
  rules:
    # ===============================================================================
    # Service Accounts / API
    # ===============================================================================
    # Restic Rest Server One-Factor Auth for backup scripts
    - domain: '{{ services['restic']['subdomain'] }}.{{ vault_domain }}'
      policy: 'one_factor'
      networks:
        - 'internal'
      subject:
        - ['group:backup']

    # Prometheus One-factor Auth for eink display
    - domain: '{{ services['prometheus']['subdomain'] }}.{{ vault_domain }}'
      policy: 'one_factor'
      networks:
        - 'internal'
      subject:
        - ['group:screen-controller-group']

    # ===============================================================================
    # Manifests / Assets Bypass
    # ===============================================================================
    - domain: '{{ services['prometheus']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'
      resources:
        - '^/favicon\.svg$'

    - domain: '{{ services['zigbee2mqtt']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'
      resources:
        - '^/.*\.webmanifest$'
        - '^/assets/.*\.png$'
        - '^/images/.*\.png$'

    - domain: '{{ services['pihole']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'
      resources:
        - '^/admin/img/favicons/manifest\.json$'
        - '^/admin/img/favicons/.*\.png$'

    - domain: '{{ services['frigate']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'
      resources:
        - '^/images/.*(maskable-icon).*\.png$'

    # ===============================================================================
    # Exceptions
    # ===============================================================================
    # Vaultwarden Two-factor Auth (Admin Panel)
    - domain: '{{ services['vaultwarden']['subdomain'] }}.{{ vault_domain }}'
      policy: 'two_factor'
      networks:
        - 'internal'
      resources:
        - "^/admin.*"
      subject:
        - ['group:admin']

    # Vaultwarden needs to be bypassed because of mobile app
    - domain: '{{ services['vaultwarden']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'

    # HomeAssistant needs to be bypassed because of mobile app
    - domain: '{{ services['homeassistant']['subdomain'] }}.{{ vault_domain }}'
      policy: 'bypass'
      networks:
        - 'internal'
        - 'tailscale'
        - 'dashboard'

    # ===============================================================================
    # User Services
    # ===============================================================================
    - domain:
        - '{{ services['frigate']['subdomain'] }}.{{ vault_domain }}'
        - '{{ vault_domain }}'
      policy: 'two_factor'
      networks:
        - 'internal'
        - 'tailscale'
      subject:
        - ['group:user']
        - ['group:admin']

    # ===============================================================================
    # Admin Services
    # ===============================================================================
    - domain:
        - '{{ services['alloy']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['grafana']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['prometheus']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['go2rtc']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['zigbee2mqtt']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['pihole']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['peanut']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['files']['subdomain'] }}.{{ vault_domain }}'
      policy: 'two_factor'
      networks:
        - 'internal'
        - 'tailscale'
      subject:
        - ['group:admin']

    # ===============================================================================
    # Internal Only Admin Services
    # ===============================================================================
    - domain:
        - '{{ services['switch']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['camera_front']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['camera_back']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['camera_doorbell']['subdomain'] }}.{{ vault_domain }}'
        - '{{ services['camera_entry']['subdomain'] }}.{{ vault_domain }}'
      policy: 'two_factor'
      networks:
        - 'internal'
      subject:
        - ['group:admin']

regulation:
  modes:
    - 'user'
    - 'ip'
  max_retries: 3
  find_time: '2 minutes'
  ban_time: '15 minutes'

session:
  cookies:
    - name: 'authelia_session'
      domain: '{{ vault_domain }}'
      authelia_url: 'https://{{ services['authelia']['subdomain'] }}.{{ vault_domain }}'
  redis:
    host: 'authelia-redis'
    port: 6379

storage:
  postgres:
    address: 'tcp://authelia-postgres:5432'
    database: 'authelia'
    username: 'authelia'

notifier:
  disable_startup_check: false
  filesystem:
    filename: '/config/notification.txt'

identity_providers:
  oidc:
    authorization_policies:
      admin:
        default_policy: 'deny'
        rules:
          - policy: 'two_factor'
            subject: 'group:admin'
    jwks:
      - algorithm: 'RS256'
        use: 'sig'
        key: {% raw %}{{ secret "/secrets/rsa.2048.key" | mindent 10 "|" | msquote }}{% endraw %}

    clients:
      - client_id: '{{ vault_authelia_paperless_client_id }}'
        client_name: 'Paperless'
        client_secret: '{{ vault_authelia_paperless_client_secret }}'
        public: false
        authorization_policy: 'two_factor'
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - 'https://paperless.{{ vault_domain }}/accounts/oidc/authelia/login/callback/'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
          - 'groups'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'
